# Root Deployment (2 replicas)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: root-app
  namespace: go-apps
spec:
  replicas: 2
  selector:
    matchLabels:
      app: root-app
  template:
    metadata:
      labels:
        app: root-app
    spec:
      containers:
      - name: root-app
        image: ${DOCKER_USERNAME}/go-multi-service:latest
        ports:
        - containerPort: 8080
        env:
        - name: ROOT_APP_NAME
          valueFrom:
            configMapKeyRef:
              name: root-config
              key: ROOT_APP_NAME
        - name: ROOT_BIND_PORT
          valueFrom:
            configMapKeyRef:
              name: root-config
              key: ROOT_BIND_PORT
---
# API Deployment (4 replicas)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-app
  namespace: go-apps
spec:
  replicas: 4
  selector:
    matchLabels:
      app: api-app
  template:
    metadata:
      labels:
        app: api-app
    spec:
      containers:
      - name: api-app
        image: ${DOCKER_USERNAME}/go-multi-service:latest
        ports:
        - containerPort: 8081
        env:
        - name: API_APP_NAME
          valueFrom:
            configMapKeyRef:
              name: api-config
              key: API_APP_NAME
        - name: API_BIND_PORT
          valueFrom:
            configMapKeyRef:
              name: api-config
              key: API_BIND_PORT
---
# Info Deployment (1 replica)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: info-app
  namespace: go-apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: info-app
  template:
    metadata:
      labels:
        app: info-app
    spec:
      containers:
      - name: info-app
        image: ${DOCKER_USERNAME}/go-multi-service:latest
        ports:
        - containerPort: 8082
        env:
        - name: INFO_APP_NAME
          valueFrom:
            configMapKeyRef:
              name: info-config
              key: INFO_APP_NAME
        - name: INFO_BIND_PORT
          valueFrom:
            configMapKeyRef:
              name: info-config
              key: INFO_BIND_PORT
---
# Login Deployment (1 replica)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: login-app
  namespace: go-apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: login-app
  template:
    metadata:
      labels:
        app: login-app
    spec:
      containers:
      - name: login-app
        image: ${DOCKER_USERNAME}/go-multi-service:latest
        ports:
        - containerPort: 8083
        env:
        - name: LOGIN_APP_NAME
          valueFrom:
            configMapKeyRef:
              name: login-config
              key: LOGIN_APP_NAME
        - name: LOGIN_BIND_PORT
          valueFrom:
            configMapKeyRef:
              name: login-config
              key: LOGIN_BIND_PORT